@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background-color: #fbfbfb;

  --color-border: #ccc;
  --color-description: #666;
  --color-organizer: #333;
  --light-grey: #f5f5f5;
  --body-text-color: #4f4f4f;
  --bg-blue: #3b71ca;
  --bg-blue-hover: #0056b3;
  --bg-color-page: #f5f5f5;
  --bg-color-pagination: #ddd;
  --color-white: #fff;
  --color-red: #dc4c64;
  --color-button: #3061af;
  --checkbox-focused-shadow: rgba(0, 0, 0, 0.07);
  --checkbox-border: rgba(0, 0, 0, 0.25);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  list-style: none;
}

ul,
li,
a {
  text-decoration: none;
}

@media only screen and (min-width: 320px) {
  body {
    max-width: 479px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 480px) {
  body {
    max-width: 767px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 1279px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    max-width: 1440px;
    font-size: 16px;
  }
}
