.eventsHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.eventsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.sortButton {
  min-width: 48px;
}

.toggleMode {
  min-width: 225px;
}

.buttonWrapperText {
  font-weight: 500;
  line-height: 120%;
}

@media (min-width: 480px) {
  .eventsContainer {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .eventsHeader {
    gap: 24px;
  }

  .eventsContainer {
    flex-direction: row;
  }

  .sortButton {
    min-width: 124px;
    min-height: 36px;
    font-size: 12px;
  }

  .buttonGroup {
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }

  .buttonWrapper {
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 1280px) {
  .eventsContainer {
    gap: 48px;
  }
}
