.eventsHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.eventsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventHeaderContainer {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.buttonWrapper,
.displayModeWrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  /* gap: 8px; */
}

.buttonGroup .sortButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  border-radius: 0px;
}

.sortButton:first-child {
  border-radius: 4px 0 0 4px;
}

.sortButton:last-child {
  border-radius: 0 4px 4px 0;
}

.displayMode {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 225px;
}

.buttonWrapperText,
.displayModeText {
  font-weight: 500;
  line-height: 120%;
}

@media (min-width: 480px) {
  .eventsContainer {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .eventHeaderContainer {
    gap: 24px;
    justify-content: space-between;
    flex-direction: row;
  }

  .eventsHeader {
    gap: 24px;
  }

  .eventsContainer {
    flex-direction: row;
  }

  .buttonGroup .sortButton {
    min-width: 124px;
    min-height: 36px;
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .eventsContainer {
    gap: 48px;
  }
}
