.eventsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eventsContainer {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--bg-blue);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:last-child {
  margin-right: 0px;
}

button:hover {
  background-color: var(--bg-blue-hover);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

button:active {
  background-color: var(--bg-blue-hover);
  transform: translateY(1px);
}
