.eventCard {
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.04),
    0 2px 15px -3px var(--checkbox-focused-shadow);
  background: var(--white);
  color: var(--body-text-color);
  gap: 8px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.description {
  line-height: 160%;
}

.date {
  line-height: 160%;
}

.organizer {
  line-height: 120%;
}

.cardFooter {
  margin-top: auto;
}

.buttonWrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .eventCard {
    width: 350px;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  .eventCard {
    width: calc(31% - 0px);
    height: 280px;
  }

  .title {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .eventCard {
    width: calc(30% - 24px);
  }

  .title {
    font-size: 20px;
  }
}
