.toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 12px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--checkbox-border);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 7px;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 18px;
  width: 18px;
  left: -3px;
  top: -3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04),
    0 0 3px 0 var(--checkbox-focused-shadow);
}

.toggle input:checked + .slider {
  background-color: var(--bg-blue);
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-blue);
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider.round {
  border-radius: 34px;
}
