.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  padding: 6px 12px 5px 12px;
  border: 2px solid var(--bg-blue);
  border-radius: 4px;
  outline: none;
  color: var(--color-organizer);
  background-color: var(--color-white);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.search::placeholder {
  color: var(--color-description);
}

.search:focus {
  border-color: var(--bg-blue-hover);
}

@media (min-width: 768px) {
  .search {
    min-width: 500px;
  }
}

@media (min-width: 1280px) {
  .container {
    gap: 40px;
  }
}
