.participantsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.participantsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.participantCard {
  border: 1px solid var(--color-border);
  padding: 10px;
  text-align: center;
  width: calc(25% - 15px);
  display: block;
  box-sizing: border-box;
  text-align: start;
}
